{% set sbo = entity %}
<div class="gview:card" data-class="" data-style="min-width:372px; width: 100%">
    <div title>
        {{ sbo.get_title('No title') }}
    </div>
    <div body>
        <span class="gws-multiline gws-multiline--secondary">{{ sbo.definition }}</span>
        <span class="gws-multiline gws-multiline--secondary">SBO ID: {{ sbo.sbo_id }} </span>
        {% if sbo.ancestors|length > 0 %}
            <hr>
            {% for ancestor in sbo.ancestors %}
                <span class="gws-multiline gws-multiline--secondary">Ancestor: {{ ancestor.get_title() }} </span>
            {% endfor %}
        {% endif %}
        <hr>
        <span class="gws-multiline gws-multiline--secondary">URI: {{ sbo.uri }} </span>
    </div>
</div>