{% set bto = entity %}
<div class="gview:card" data-class="" data-style="min-width:372px; width: 100%">
    <div title>
        {{ bto.get_title('No title') }}
    </div>
    <div body>
        <span class="gws-multiline gws-multiline--secondary">{{ bto.definition }}</span>
        <span class="gws-multiline gws-multiline--secondary">SBO ID: {{ bto.bto_id }} </span>
        {% if bto.ancestors|length > 0 %}
            <hr>
            {% for ancestor in bto.ancestors %}
                <span class="gws-multiline gws-multiline--secondary">Ancestor: {{ ancestor.get_title() }} </span>
            {% endfor %}
        {% endif %}
        <hr>
        <span class="gws-multiline gws-multiline--secondary">URI: {{ bto.uri }} </span>
    </div>
</div>