{% set taxonomy = entity %}

<div class="gview:card" data-class="" data-style="min-width:372px; width: 100%">
    <div title>
            {{ taxonomy.get_title('No title') }}
    </div>
    <div body>
        <span class="gws-multiline gws-multiline--secondary">TaxID: {{ taxonomy.tax_id }} </span>
        <span class="gws-multiline gws-multiline--secondary">Division: {{ taxonomy.division }} </span>
        <span class="gws-multiline gws-multiline--secondary">Rank: {{ taxonomy.rank }} </span>
        {% if taxonomy.ancestors|length > 0 %}
            <hr>
            {% for ancestor in taxonomy.ancestors %}
            <span class="gws-multiline gws-multiline--secondary">Ancestor: {{ ancestor.get_title() }}, Rank:{{ ancestor.rank }}, TaxID:{{ ancestor.tax_id }} </span>
            {% endfor %}
        {% endif %}
        <hr>
        <span class="gws-multiline gws-multiline--secondary">URI: {{ taxonomy.uri }} </span>
    </div>
</div>