{% if response.data|length == 0 %}
    No taxonomy found
{% else %}
<div class="mdc-data-table" style="width:100%">
    <div class="mdc-data-table__table-container">
        <table class="mdc-data-table__table" aria-label="Dessert calories">
            <thead>
                <tr class="mdc-data-table__header-row">

                    <th class="mdc-data-table__header-cell mdc-data-table__header-cell--checkbox" role="columnheader" scope="col">
                        <div class="mdc-checkbox mdc-data-table__header-row-checkbox mdc-checkbox--selected">
                            <input type="checkbox" class="mdc-checkbox__native-control" aria-label="Toggle all rows" />
                            <div class="mdc-checkbox__background">
                                <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                    <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                                </svg>
                                <div class="mdc-checkbox__mixedmark"></div>
                            </div>
                            <div class="mdc-checkbox__ripple"></div>
                        </div>
                    </th>
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Description</th>
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Division</th>
                    <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Rank</th>
                </tr>
            </thead>
            <tbody class="mdc-data-table__content">
                
                {% for taxonomy in response.data.results %}
                <tr class="mdc-data-table__row">

                    <td class="mdc-data-table__cell mdc-data-table__cell--checkbox">
                        <div class="mdc-checkbox mdc-data-table__row-checkbox">
                            <input type="checkbox" class="mdc-checkbox__native-control" aria-labelledby="u0" />
                            <div class="mdc-checkbox__background">
                                <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                                    <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                                </svg>
                                <div class="mdc-checkbox__mixedmark"></div>
                            </div>
                            <div class="mdc-checkbox__ripple"></div>
                        </div>
                    </td>

                    <th class="mdc-data-table__cell" scope="row">
                        <a class="gws-multiline gws-multiline--primary gws-taxonomy-title" href="/page/biox/taxonomy?uri={{ taxonomy.uri }}">
                            {% if taxonomy.get_title() %}
                                {{ taxonomy.get_title() }}
                            {% else %}
                                No title
                            {% endif %}
                        </a>
                        <span class="gws-multiline gws-multiline--secondary">Type: {{ taxonomy.type }}<span>
                        <span class="gws-multiline gws-multiline--secondary">URI: {{ taxonomy.uri }}<span>
                    </th>
                    <td class="mdc-data-table__cell">{{ taxonomy.division }}</td>
                    <td class="mdc-data-table__cell">{{ taxonomy.rank }}</td>   
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% include 'gws/_paginator/paginator.html' %}
    
</div>
{% endif %}