<h1 class="mdc-typography--headline5">
    {% block biota_title %} {% endblock %}
</h1>

<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8">
            {% block biota_content %} {% endblock %}
        </div>
    
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
            {% include 'biota/sidebar/sidebar.html' %}
        </div>
    </div>
</div>

{% block biota_script %} {% endblock %}