<div>
    <p> The purpose of BIOTA is to provide to Gencovery users biological data from official databases such as 
    BRENDA, RHEA or CHEBI or NCBI </p>
    <p>This database gather crucial data for modeling and for the visualization of metabolic pathways and networks 
    in a homogeneous and coherent way.</p>
</div>

<div >
    <p> Now available on BIOTA </p>
</div>

<div class = "row", id = "list_tables"></div>


<script data-lazy="true">
    var list_tables = document.querySelector("#list_tables")

    var dict_description={
        "GO":{
            "description": "Gene Ontology",
            "main_text": "A major bioinformatics initiative to unify the representation of gene and gene product attributes across all species."
        },
        "SBO":{
            "description": "System Biology Ontology",
            "main_text": "Used to introduce a layer of semantic information into the standard description of a model, or to annotate the results of biochemical experiments in order to facilitate their efficient reuse."
        },
        "BTO":{
            "description": "Brenda Tissue Ontology",
            "main_text": "Provides terms, classifications, and definitions of tissues, organs, anatomical structures, plant parts, cell cultures, cell types, and cell lines of organisms from all taxonomic groups (animals, plants, fungis, protozoon) as enzyme sources."
        },
        "ECO":{
            "description":"Evidence and Conclusion Ontology",
            "main_text": "Terms (classes) that describe types of evidence and assertion methods. ECO terms are used in the process of biocuration to capture the evidence that supports biological assertions."
        },
        "Taxonomy":{
            "description":"NCBI Taxonomy",
            "main_text": "Curated classification and nomenclature for all of the organisms in the public sequence NCBI databases"
        },
        "Compounds":{
            "description":"Chemical compounds",
            "main_text": "Molecular entities focused on ‘small’ chemical compounds. The term ‘molecular entity’ refers to any constitutionally or isotopically distinct atom, molecule, ion, ion pair, radical, radical ion, complex, conformer, etc., identifiable as a separately distinguishable entity."
        },
        "Enzymes":{
            "description":"Enzymes",
            "main_text": "Resource that comprises molecular and biochemical information on enzymes that have been classified by the IUBMB. Every classified enzyme is characterized with respect to its catalyzed biochemical reaction. Kinetic properties of the corresponding reactants (that is, substrates and products) are described in detail"
        },
        "Reactions":{
            "description":"Biological reactions",
            "main_text":"Resource of biochemical reactions designed for the annotation of enzymes and genome-scale metabolic networks and models"
        }
    }

    for (let item in dict_description){
        var element = document.createElement('div')
        element.classList.add("col-md-3")
        element.classList.add("clickable-table")
        element.dataset.item = item
        var table = dict_description[item]
        element.innerHTML = `
            <div class="tables_cards">
                <div class="card-header">`+item+`</div>
                <div class="card-body">
                    <h5 class="card-title" id="desc-`+item+`">`+table.description+`</h5>
                </div>
                    <a href="#" class="collapsible">Description</a>
                    
                <div class="content">
                        <p class="card-main-text" id = "main-text-`+item+`">`+table.main_text+`</p>
                </div>
                <a href="#" class="collapsible">See more</a>
                
                
            </div>`
        list_tables.appendChild(element)
    }

    // document.querySelectorAll(".clickable-table").forEach(elem => {
    //     elem.addEventListener("click", function(){
    //         let item = elem.dataset.item
    //         document.querySelector("#desc-"+item).innerHTML = `<h5 class="card-title" id="desc-`+item+`">`+dict_description[item].main_text+`</h5>`
    //     })
    // })

    var coll = document.getElementsByClassName("collapsible")
    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active")
            var content = this.nextElementSibling
            if (content.style.maxHeight){
                content.style.maxHeight = null
            } else {
            content.style.maxHeight = content.scrollHeight + "px"
            } 
        })
    }

</script>