{% set eco = entity %}
<div class="gview:card" data-class="" data-style="min-width:372px; width: 100%">
    <div title>
        {{ eco.get_title('No title') }}
    </div>
    <div body>
        <span class="gws-multiline gws-multiline--secondary">{{ eco.definition }}</span>
        <span class="gws-multiline gws-multiline--secondary">ECO ID: {{ eco.eco_id }} </span>
        {% if eco.ancestors|length > 0 %}
            <hr>
            {% for ancestor in eco.ancestors %}
                <span class="gws-multiline gws-multiline--secondary">Ancestor: {{ ancestor.get_title('No title') }} </span>
            {% endfor %}
        {% endif %}
        <hr>
        <span class="gws-multiline gws-multiline--secondary">URI: {{ eco.uri }} </span>
    </div>
</div>