name: Build and push github package

on:
  workflow_call:
    inputs:
      registry:
        required: true
        type: string
      image_name:
        required: true
        type: string
      github_ref:
        required: true
        type: string
      tag_prefix:
        required: true
        type: string
      dockerfile_path:
        required: true
        type: string
    secrets:
      registry_username:
        required: true
      registry_password:
        required: true

jobs:
  build_push_image:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ inputs.registry }}
          username: ${{ secrets.registry_username }}
          password: ${{ secrets.registry_password }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ inputs.image_name }}
          tags: |
            type=ref,event=tag

      - name: Extract tag without prefix
        id: strip_tag
        run: echo "TAG=${GITHUB_REF#refs/tags/${TAG_PREFIX}}" >> $GITHUB_ENV
        env:
          GITHUB_REF: ${{ inputs.github_ref }}
          TAG_PREFIX: ${{ inputs.tag_prefix }}

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ${{ inputs.dockerfile_path }}
          push: true
          tags: |
            ${{ inputs.image_name }}:latest
            ${{ inputs.image_name }}:${{ env.TAG }}
          labels: ${{ steps.meta.outputs.labels }}

